@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* #161616 */
  :root {
    background: #242424
  }
  html{
    color: white;
  }
  
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@font-face {
  font-family: "Formula-Regular";
  src: url('../public/fonts/Formula1/Formula1-Regular_web_0.ttf');
}

@font-face {
  font-family: "Formula-Bold";
  src: url('../public/fonts/Formula1/Formula1-Bold_web_0.ttf');
}

@font-face {
  font-family: "Formula-Wide";
  src: url('../public/fonts/Formula1/Formula1-Wide_web_0.ttf');
}

@layer components {
  .smoothed {
    @apply
    transition-all ease-in-out duration-500
  }

  .aid{
    @apply
    border border-red-500
  }

  .main-container {
    @apply
    flex flex-col w-full h-full min-h-fit px-5 font-formulaRegular
  }

  .page-container {
    @apply
    flex flex-col items-center justify-center w-full max-w-[1200px] h-full min-h-fit
  }

  .navbar {
    @apply
    flex items-center justify-evenly w-full h-24 max-w-[1200px] bg-[#e10600] font-formulaBold
  }

  .navButton{
    @apply
    h-14 w-14 min-w-fit flex flex-col items-center justify-end font-formulaRegular text-sm
  }

  .navIcon {
    @apply
    text-sm
  }

  .card {
    @apply
    bg-black border border-white rounded-md h-[360px] w-[250px] hover:border-[#e10600] smoothed m-5
  }
}

